
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    width: 300px;
    height: 550px;
    border-radius: 30px;
    background-color:#FFFFFF ;  
    box-shadow: 2px 3px 20px gainsboro;
}
#img-burger{
    width:300px;
     height:300px;   
}
h4,h3{
    text-align: center;
    font-size: 20px;
    color:#FC6C26;  
}
p{
    color: #595E5E;
    
}
button{
    width: 120px;
    height: 30px;
    border-radius: 30px;
    background-color: #FC6C26;
    color: #FFFFFF;
    outline: none;
    border: none;
}
input{
    width: 30px;
    height: 50px;
    outline: none;
    border: none;
}
#discription{
    text-align: center;
}
#p{
    display: inline-block;
    margin-left: 70px;
}